@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Kanit', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.main{
  min-height: calc(92vh - 3px);
  background-color: #edf1f5;
}

.login-card{
  background-color: #fff;
  max-width: 55vh;
  padding: 20px;
  border-radius: 10px;
}