.Banner{
    background-image: url('../images/bg.jpg');
    background-position: center top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}