.navbar{
    background-color: #4f4e4e;
    color: #fff;
    z-index: 50;
}
.bar{
    background-color: #ffd110;
    color: #fff;
}
.bar-link{
    color: rgb(101, 101, 101);
    transition: color 0.2s;
    font-size: 14px;
    padding: 0px 15px;
}
.bar-link:hover{
    color: rgb(161, 161, 161);
}
.nav-item{
    padding: 10px 15px;
}
.navbar-toggler{
    color: rgb(216, 216, 216);
}
.nav-link{
    transition: color 0.2s;
}
.nav-link:hover{
    color: rgb(193, 193, 193);
}
.navbar-nav{
    transition: 1s;
}
.navbar-item{
    transition: all 1s;
}